<html>
{% extends 'Home_page0.html' %}
{% block header1 %}
<div class="container-fluid">
    <div class="row top-header">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 right-menu">
            <ul class="pull-right">
                <li><a href="mailto:mohdshanu2@gmail.com"><span class="fa fa-envelope">&nbsp;mohdshanu2@gmail.com</span></a></li>
                <li><a href="telto:8272858510"><span class="fa fa-phone">&nbsp;+918272858510</span></a></li>
                <li><a href="telto:8272858510"><span class="fa fa-truck">&nbsp;Track Order</span></a></li>
            </ul>
        </div>
    </div>			
</div>

<!--navbar-->

<div class="mainnav">
    <nav class="navbar navbar-expand-md ">	
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>		
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav" id="navbar">
                <li><a href="#" class="nav-item nav-link active">About Us</a></li>
                <li><a href="#" class="nav-item nav-link">Contact Us</a></li>
                <li><a href="#" class="nav-item nav-link">Gallary</a></li>
                <li><a href="#" class="nav-item nav-link">Products</a></li>                
            </ul>
            <div class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0">
                    <a href="#" class="support">Support</a>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
                    <i class="fa fa-user fa-2x"></i>
                    <i class="fa fa-shopping-cart fa-2x"></i>
                </form>                
            </div>
        </div>
    </nav>
</div>
{% endblock %}</html>